<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dark News</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <nav class="navbar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    <main class="container">
        <section class="news-section">
            <h2>Latest News</h2>
            <div class="news-cards">
                {% for i in N %}
                <article class="news-card" onclick="window.location.href='{{N[i]['url']}}'">  <!-- Add the URL of the news article in the onclick attribute -->
                    {% if N[i]['img'] != None %}
                    <img src="{{N[i]['img']}}" alt="News 1">
                    {% endif %}
                    <div class="news-card-content">
                        <h3>{{N[i]['title']}}</h3>
                        {% if N[i]['author'] != None %}
                        <p>By {{N[i]['author']}}</p>
                        {% endif %}
                        <p class="date">{{N[i]['date']}}</p>
                        {% if N[i]['img'] == None and N[i]['description'] != None %}
                        <h3>{{N[i]['description']}}</h3>
                        {% endif %}
                    </div>
                </article>
                {%endfor%}
            </div>
        </section>
        <section class="news-section">
            <h2>India</h2>
            <div class="news-cards">
                {% for i in I %}
                <article class="news-card" onclick="window.location.href='{{I[i]['url']}}'">
                    {%if I[i]['img']!=None%}
                    <img src="{{I[i]['img']}}" alt="News 1">
                    {%endif%}
                    <div class="news-card-content">
                        <h3>{{I[i]['title']}}</h3>
                        {%if I[i]['author']!=None%}
                        <p>By {{I[i]['author']}}</p>
                        {%endif%}
                        <p class="date">{{I[i]['date']}}</p>
                        {%if I[i]['img']==None%}
                        <h3>{{I[i]['discription']}}</h3>
                        {%endif%}
                    </div>
                </article>
                {%endfor%}
            </div>
        </section>
        <section class="news-section">
            <h2>Sports</h2>
            <div class="news-cards">
                {% for i in S %}
                <article class="news-card" onclick="window.location.href='{{S[i]['url']}}'">
                    {%if S[i]['img']!=None%}
                    <img src="{{S[i]['img']}}" alt="News 1">
                    {%endif%}
                    <div class="news-card-content">
                        <h3>{{S[i]['title']}}</h3>
                        {%if S[i]['author']!=None%}
                        <p>By {{S[i]['author']}}</p>
                        {%endif%}
                        <p class="date">{{S[i]['date']}}</p>
                        {%if S[i]['img']==None and S[i]['description']!=None %}
                        <h3>{{S[i]['description']}}</h3>
                        {%endif%}
                    </div>
                </article>
                {%endfor%}
            </div>
        </section>
    </main>
</body>

</html>