<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dark News</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <nav class="navbar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    <main class="container">
        <section class="news-section">
            <h2>Latest News</h2>
            <div class="news-cards">
                {% for i in N %}
                <article class="news-card" onclick="">
                    {%if N[i]['img']!=None%}
                    <img src="{{N[i]['img']}}" alt="News 1">
                    {%endif%}
                    <div class="news-card-content">
                        <h3>{{N[i]['title']}}</h3>
                        {%if N[i]['author']!=None%}
                        <p>By {{N[i]['author']}}</p>
                        {%endif%}
                        <p class="date">{{N[i]['date']}}</p>
                        {%if N[i]['img']==None and N[i]['description']!=None %}
                        <h3>[{{N[i]['description']}}]</h3>
                        {%endif%}
                    </div>
                </article>
                {%endfor%}
            </div>
        </section>
        <section class="news-section">
            <h2>Latest News</h2>
            <div class="news-cards">
                {% for i in N %}
                <article class="news-card" onclick="location.href=''">
                    {%if N[i]['img']!=None%}
                    <img src="{{N[i]['img']}}" alt="News 1">
                    {%endif%}
                    <div class="news-card-content">
                        <h3>{{N[i]['title']}}</h3>
                        {%if N[i]['author']!=None%}
                        <p>By {{N[i]['author']}}</p>
                        {%endif%}
                        <p class="date">{{N[i]['date']}}</p>
                        {%if N[i]['img']==None%}
                        <h3>[{{N[i]['discription']}}]</h3>
                        {%endif%}
                    </div>
                </article>
                {%endfor%}
            </div>
        </section>
    </main>
</body>

</html>